* {
    font-family: arial;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    padding: 0 15% 5% 15%;
}

.top-row {
    margin: 20px 20px;
}


#startH1, #startB, #start-button-container, #startP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
}

p {
    font-size: 16px;
    font-weight: normal;
    display: flex;
    flex-direction: row;
}

#progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:grey;
    font-size: 18px;
}

body {
    background-color:white;
}

#highscores {
    color: violet;
}

#score-p {
    font-style: unset;
}

#start-button-container {
    margin-bottom: 20%;
    display: flex;
    align-items: center;
}
 
#score {
    display: flex;
    display: inline-block;
    text-align: left;
}
 
#question {
    font-family: "arial";
    font-size: 30px;
    color: black;
}

#buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
 
#btn0, #btn1, #btn2, #btn3, #startB, #back {
    background-color: indigo;
    width: 250px;
    font-size: 20px;
    color: #fff;
    margin: 10px 10px 10px 0px;
    padding: 10px 10px;
    border-radius: 5px;
}

#hsButtonContainer {
    display: flex;
    flex-direction: row;
}

#back  {
    max-width: fit-content;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover, #startB:hover, #submit:hover, #back:hover{
    cursor: pointer;
    background-color:plum;
}
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus, #startB:focus, #submit:focus, #back:focus{
    outline: 0;
}


#footer {
    margin-top: 10%;
    padding: 0 50%;
    border-top: 2px solid grey;
    visibility: hidden;
}

#score-submit {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: flex-end;
    visibility: hidden;
}

#submit {
    background-color: indigo;
    color: #fff;
    border-radius: 5px;
    margin: 0 0 0 5px;
}

#score-label {
    margin:0 5px 0 0;
}

#form {
    max-width: 30%;
}

#score-board {
    background-color: lavender;
    max-width: 50%;
    padding: 10px 10px;
}

#initials:focus {
    outline: none !important;
    border-color:lightskyblue;
}