* {
    font-family: arial;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 0 15% 5% 15%;
}

body {
    background-color:white;
}

#highscores {
    color: violet;
}

#start-button-container {
    margin-bottom: 20%;
}
 
.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    
}
 
.grid h1 {
    background-color: #01BBFF;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    
}
 
#score {
    color: #01BBFF;
    text-align: center;
    font-size: 30px;
}
 
.grid #question {
    font-family: "arial";
    font-size: 30px;
    color: black;
}

#buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
 
#btn0, #btn1, #btn2, #btn3, #startB {
    background-color: indigo;
    width: 250px;
    font-size: 20px;
    color: #fff;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    border-radius: 5px;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover, #startB:hover {
    cursor: pointer;
    background-color:plum;
}
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus, #startB:focus {
    outline: 0;
}
 
#progress {
    color:grey;
    font-size: 18px;
}

#footer {
    margin: 10% 0;
    padding: 0 50%;
    border-top: 2px solid grey;
    visibility: hidden;
}

#progress {
    text-align: start;
}